#homepage{
	background-color: #f5f5f5;
}

#title {
	background-color: #f5f5f5;

}

.titletext1 {
	position: absolute;
    top: 380px;
    left: 20px;
    margin-right: -550px;
    transform: translate(-190px, -406px);
	font-family: 'Staatliches', cursive;
	font-weight: normal;
	font-size: 20px;
	color: #ABDB25;
	text-decoration: none;
	letter-spacing: 15px;
}

.titletext1:hover {
	cursor: help;
	color: #F3F8F3;
	text-shadow: -15px -15px 10px #08199C;
	text-decoration: none;
	letter-spacing: 20px;	
}

.titletext2{
	position: absolute;
    top: 406px;
    left: 190px;
    margin-right: -225px;
    transform: translate(-200px, -406px);
	font-family: 'Staatliches', cursive;
	font-weight: normal;
	font-size: 20px;
	color: #08199C;
	text-decoration: none;
	letter-spacing: 15px;
}

.titletext2:hover {
	cursor: help;
	color: #F3F8F3;
	text-shadow: 15px 15px 10px #ABDB25;
	text-decoration: none;
	letter-spacing: 20px;	
}


.homelink{
	display: inline-block;
	padding-left: 2px;
	font-family: 'Staatliches', monospace;
	text-align: justify;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}	

.homelink:hover {
	writing-mode: horizontal-tb;
	letter-spacing: 6px;
	font-size: 15px;
	color:#08199C;
	text-shadow: 5px 5px 50px #08199C;
}


.resumelink{
	display: inline-block;
	padding-right: 2px;
	font-family: 'Staatliches', monospace;
	text-align: justify;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.resumelink:hover {
	writing-mode: horizontal-tb;
	letter-spacing: 6px;
	font-size: 15px;
	color:#08199C;
	text-shadow: 5px 5px 50px #08199C;
}


.infolink{
	display: inline-block;
	padding-right: 4px;
	font-family: 'Staatliches', monospace;
	text-align: justify;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.infolink:hover {
	writing-mode: horizontal-tb;
	letter-spacing: 6px;
	font-size: 15px;
	color:#08199C;
	margin-left: -10px;
	text-shadow: 5px 5px 50px #08199C;
}


.list-group {
	display: ruby;
  	list-style-type: none;
  	margin-top: -100px;
  	padding-top: 15px;
  	padding-left: 2px;
}

.greenwork {
	height: 10px;
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.greenwork:hover {
	cursor: help;
	color: #e6e6e6;
	text-shadow: 15px 15px 4px #08199C;
	text-decoration: none;	
}

.pinkwork {
	height: 10px;
	position: relative;
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.pinkwork:hover {
	cursor: help;
	color: #e6e6e6;
	text-shadow: 15px 15px 4px #08199C;
	text-decoration: none;	
}

.pinkwork2 {
	height: 10px;
	position: relative;
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.pinkwork2:hover {
	cursor: help;
	color: #e6e6e6;
	text-shadow: 15px 15px 4px #08199C;
	text-decoration: none;	
}

.smallgreenwork {
	height: 10px;
	position: relative;
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;}

.smallgreenwork:hover {
	cursor: help;
	color: #e6e6e6;
	text-shadow: 15px 15px 4px #08199C;
	text-decoration: none;	
}

#judd {
	background-color: white;
	height: 3100px;
}

.greentitle {
	display: inline-block;
	margin-left: -20px;
	width: 500px;
    	height: 9px;
	font-family: 'Ruda', sans-serif;
	font-weight: bolder;
	letter-spacing: 5px;
	font-size: 15px;
	color: #08199C;
	text-transform: uppercase;
	text-decoration: none;
}

.greenbody {
	display: inline-block;
	margin-left: -20px;
	width: 300px;
    	height:3px;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #ABDB25;
}

.greensmallerbody {
	display: inline-block;
	margin-left: -20px;
	width:300px;
    	height:3px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 9px;
	color: #08199C;
}

.captions {
	display: block;
	width:300px;
    	height:10px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

#myBtn {
  	font-family: 'Ruda', sans-serif;
	font-weight: bolder;
	display: none;
  	position: fixed;
  	bottom: 1%;
  	right: 1%;
  	z-index: 99;
  	font-size: 12px;
  	background-color: transparent;
  	text-transform: uppercase;
  	letter-spacing: 5px;
  	color: #ABDB25; 
  	border: none;
}

#myBtn:hover {
	color: white;
	text-shadow: 10px 10px 5px #08199C;
	text-decoration: none;		
}

#ecs{
	height: 5100px;
}

.ecsgreentitle{
	display: block;
	width:400px;
    	height:15px;
	font-family: 'Ruda', sans-serif;
	font-weight: bolder;
	letter-spacing: 3px;
	font-size: 15px;
	color: #08199C;
	text-transform: uppercase;
	text-decoration: none;
}

.ecsimage1 {
	width: 300px;
	margin-left: -20px;
	padding-top: 400px;
}

.ecsimage2 {
	width: 300px;
	margin-left: -20px;
	padding-top: 10px;
}

#eatplay {
	height: 2500px;
}

.greenbodyeat {
	margin-left: -20px;
	display: inline-block;
	width:300px;
    height:20px;
	font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	color:  #ABDB25;
}
.greenbodyeat2 {
	margin-left: -20px;
	display: inline-block;
	text-transform: uppercase;
	width:300px;
    height:3px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

.greensmallerbodyeat {
	margin-left: -20px;
	display: inline-block;
	padding-top: 10px;
	width:300px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

.greensmallerbodyram {
	margin-left: -20px;
	display: inline-block;
	margin-top: 10px;
	width:300px;
    height:10px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

.eatimage1 {
	margin-left: -20px;
	width: 300px;
	padding-left: 2px;
	padding-top: 60px;
}

.eatimage2 {
	margin-left: -20px;
	width: 300px;
	padding-left: 2px;
	padding-top: 10px;
}

#eco-morphology{
	height: 2300px;
}

.ecoimage1 {
	width: 300px;
	margin-left: -20px;
	padding-top: 80px;
}

.ecoimage2 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
	padding-top: 10px;
}

#nmc{
	height: 2400px;
}

.nmcimage1 {
	width: 100px;
	margin-left: -10px;
	padding-left: 2px;
	padding-top: 100px;
}

.nmcimage2 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
	padding-top: 50px;
}

#hoophouse{
	height: 3900px;
}

.hoopimage1 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
	padding-top: 50px;
}

.hoopimage2 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

.container{
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;

}

.containersize {
	width: 300px;
	height: 420px;
}

.containerpdf{
	margin-left: -10px;
	padding-left: 2px;

}

.captionslarger {
	margin-left: -10px;
	display: block;
	width:500px;
    height:2px;
	padding-left: 2px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

#ma{
	height: 3300px;
}

.ma1 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

.ma2 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

.ma3 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

.chronicle1 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

.chronicle2 {
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

#chronicle{
	height: 1300px;
}

.textile1{
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

.chin1{
	margin-top: -400px;
	width: 300px;
	margin-left: -10px;
	padding-left: 2px;
}

#ramayana{
	height: 1700px;
}

.ram1{
	width: 300px;
	margin-left: -10px;
	padding-left: 2px; 
}


.othertitle{
	width:300px;
	margin-left: -10px;
    height:30px;
	padding-left: 2px;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 15px;
	color: #08199C;
	display: block;
}


.miscpara{
	width:300px;
	font-family: 'Ruda', sans-serif;
	margin-left: -598px;
	float: left;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

.miscpara2{
	width:300px;
	font-family: 'Ruda', sans-serif;
	margin-left: -618px;
	float: left;
	font-weight: normal;
	font-size: 10px;
	color: #08199C;
}

.misc1{
	float: left;
	padding-left: 2px;

}

.infoimage{
	width: 300px;
	padding-left: 8%;
	padding-top:20px;
	position: relative;
	z-index: -2;
}

.infobig{
	margin-top: 20px;
	padding-left: 8%;
	position: absolute;
	text-shadow: 2px 2px 3px #ABDB25;
	width:300px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	font-size: 27px;
	color: #08199C;
	display: block;
}

.infosmall{
	display: block;
	position: absolute;
	margin-top:60px;
	padding-left: 50px;
	width:300px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	font-size: 13px;
	color: #08199C;
	display: block;
}

.highlighter{
	background-color: #ABDB25;
}


.cuffhlink{
	width:100px;
    	height:100px;
    	font-weight: bold;
	font-family:'Ruda', sans-serif;
	font-size: 12px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: help;
}

.cuffh{
	width: 200px;
	padding-left: 1%;
	padding-top: 10px;
}

.cuffh1{
	width: 200px;
	padding-left: 1%;
	padding-top: 10px;
}

.cuffhbody {
	display: block;
	padding-left: 1%;
	width:200px;
    	height:30px;
	font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	color:  #ABDB25;
}

.cuffhbody1 {
	display: block;
	margin-top: -15px;
	width:200px;
    	height:30px;
	font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	color:  #ABDB25;
}

.cuffhbody2 {
	display: block;
	margin-top: -2px;
	text-transform: uppercase;
	width:200px;
    	height:30px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #08199C;
}

.poster{
	height: 200px;
	padding-left: 1%;
}







