#homepge {
	background-color: #ffa500;
}

#title {
	background-color: #f5f5f5;
}

.titletext1 {
	position: absolute;
    top: 30%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-20%, -50%);
	font-family: 'Staatliches', cursive;
	font-weight: normal;
	font-size: 100px;
	color: #ABDB25;
	text-decoration: none;
	letter-spacing: 100px;
}

.titletext1:hover {
	cursor: help;
	color: #F3F8F3;
	text-shadow: -50px -50px 60px #08199C;
	text-decoration: none;
	letter-spacing: 70px;	
}

.titletext2{
	position: absolute;
    top: 40%;
    left: 39%;
    margin-right: -50%;
    transform: translate(-40%, -50%);
	font-family: 'Staatliches', cursive;
	font-weight: normal;
	font-size: 100px;
	color: #08199C;
	text-decoration: none;
	letter-spacing: 100px;
}

.titletext2:hover {
	cursor: help;
	color: #F3F8F3;
	text-shadow: 80px 80px 50px #ABDB25;
	text-decoration: none;
	letter-spacing: 70px;	
}


.homelink{
	display: inline-block;
	padding-left: 8%;
	font-family: 'Staatliches', monospace;
	text-align: justify;
	font-size: 40px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 10px;
}	

.homelink:hover {
	letter-spacing: 100px;
	color:#08199C;
	font-size: 300px;
	text-shadow: 5px 5px 50px #08199C;
	writing-mode: vertical-lr;
}


.resumelink{
	display: inline-block;
	font-family: 'Staatliches', monospace;
	font-size: 40px;
	padding-right: 8%;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.resumelink:hover {
	letter-spacing: 100px;
	writing-mode: vertical-lr;
	color: #08199C;
	font-size: 300px;
	text-shadow: 5px 5px 50px #08199C;
}


.infolink{
	display: inline-block;
	font-family: 'Staatliches', monospace;
	font-size: 40px;
	padding-right: 4%;
	text-align: right;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.infolink:hover {
	letter-spacing: 100px;
	writing-mode: vertical-rl;
	color:#08199C;
	font-size: 300px;
	text-shadow: 5px 5px 50px #08199C;
}

.element1{
	font-family: 'Staatliches', monospace;
	position: absolute;
	z-index: -2;
	font-size: 1100%;
	letter-spacing: 20px;
	text-align: left;
	color: #ffffff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #08199C;
   -webkit-animation: flickerAnimation 5s infinite;
}

.element2{
	font-family: 'Staatliches', monospace;
	position: absolute;
	z-index: -2;
	padding-top: 375px;
	padding-left: 200px;
	letter-spacing: 20px;
	font-size: 500%;
	color: #ffffff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #08199C;
   -webkit-animation: flickerAnimation 3s infinite;
}

.element3{
	font-family: 'Staatliches', monospace;
	position: absolute;
	z-index: -2;
	padding-top: 500px;
	padding-left: 700px;
	letter-spacing: 20px;
	font-size: 600%;
	color: #ffffff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #08199C;
   	-webkit-animation: flickerAnimation 4s infinite;
}

.element4{
	font-family: 'Staatliches', monospace;
	position: absolute;
	z-index: -2;
	padding-top: 700px;
	padding-left: 300px;
	letter-spacing: 20px;
	font-size: 900%;
	color: #ffffff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #08199C;
   -webkit-animation: flickerAnimation 2s infinite;
}


@keyframes flickerAnimation {
  0%   { opacity:0.5;}
  50%  { opacity:0.05;}
  100% { opacity:0.8;}
}


.list-group {
  	list-style-type: none;
  	margin-top: -75px;
  	padding-top: 50px;
  	padding-right: 8%;
  	text-align: right;
}

.list-group2 {
  	list-style-type: none;
  	margin-top: -75px;
  	padding-top: 50px;
  	padding-left: 8%;
  	text-align: left;
}

.list-group3 {
  	list-style-type: none;
  	margin-top: -75px;
  	padding-top: 50px;
  	padding-right: 8%;
  	text-align: right;
}

.list-group4 {
  	list-style-type: none;
  	margin-top: -75px;
  	padding-top: 50px;
  	padding-left: 8%;
  	text-align: left;
}

.greenwork1 {
	width:900px;
    	height:80px;
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.greenwork1:hover {
	cursor: help;
	color: #ffffff;
	text-shadow: 80px 80px 10px #08199C;
	text-decoration: none;	

}

.greenwork2 {
	margin-top: -100px;
	white-space: nowrap;
	width:900px;
    	height:80px;
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.greenwork2:hover {
	cursor: help;
	color: #ffffff;
	text-shadow: 80px 80px 10px #08199C;
	text-decoration: none;	
}

.greenwork3 {
	margin-top: -100px;
	white-space: nowrap;
	width:900px;
    	height:80px;
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.greenwork3:hover {
	cursor: help;
	color: #ffffff;
	text-shadow: 80px 80px 10px #08199C;
	text-decoration: none;	
}

.greenwork4 {
	margin-top: -100px;
	white-space: nowrap;
	width:900px;
    	height:80px;
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.greenwork4:hover {
	cursor: help;
	color: #ffffff;
	text-shadow: 80px 80px 10px #08199C;
	text-decoration: none;	
}


.captions {
	display: block;
	width:900px;
    	height:10px;
    	padding-left: 8%;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #08199C;
}

#myBtn {
  	font-family: 'Ruda', sans-serif;
	font-weight: bolder;
	display: none;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	z-index: 99;
  	font-size: 16px;
  	background-color: transparent;
  	text-transform: uppercase;
  	letter-spacing: 5px;
  	color: #ABDB25; 
  	border: none;
}

#myBtn:hover {
	color: white;
	text-shadow: 10px 10px 5px #08199C;
	text-decoration: none;		
}

#ecs {
	height: 13800px;
}

.ecsgreentitle{
	display: block;
	width:900px;
    	height:45px;
	font-family: 'Ruda', sans-serif;
	font-weight: bolder;
	letter-spacing: 10px;
	font-size: 40px;
	color: #08199C;
	text-transform: uppercase;
	text-decoration: none;
}

.ecsimage1 {
	width: 900px;
	padding-left: 8%;
	padding-top: 250px;
}

.ecsimage2 {
	width:900px;
	padding-left: 8%;
	padding-top: 30px;
}

#eatplay {
	height: 3550px;
}

.greenbodyeat {
	display: block;
	margin-top: -45px;
	width:550px;
    	height:30px;
	font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	color:  #ABDB25;
}
.greenbodyeat2 {
	display: block;
	margin-top: -8px;
	text-transform: uppercase;
	width:600px;
    	height:10px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #08199C;
}

.greensmallerbodyeat {
	display: block;
	margin-top: -10px;
	width:900px;
    	height:10px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #08199C;
}

.greensmallerbodyram {
	display: block;
	margin-top: -10px;
	width:750px;
    	height:10px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #08199C;
}

.eatimage1 {
	width:900px;
	padding-left: 8%;;
	padding-top: 90px;
}

.eatimage2 {
	width:900px;
	padding-left: 8%;
	padding-top: 10px;
}

#eco-morphology{
	height: 6390px;
}

.ecoimage1 {
	width: 900px;
	padding-left: 8%;
	padding-top: 80px;
}

.ecoimage2 {
	width: 900px;
	padding-left: 8%;
	padding-top: 10px;
}

#nmc{
	height: 5600px;
}

.nmcimage1 {
	width: 900px;
	padding-left: 8%;
	padding-top: 100px;
}

.nmcimage2 {
	width: 900px;
	padding-left: 8%;
	padding-top: 50px;
}

#hoophouse{
	height: 6300px;
}

.hoopimage1 {
	width: 900px;
	padding-left: 8%;
	padding-top: 50px;
}

.hoopimage2 {
	width: 900px;
	padding-left: 8%;
}

.container{
	width: 900px;
	height: 800px;
	padding-left: 8%;

}

.containersize {
	width: 900px;
	height: 800px;
}

.containerpdf{
	padding-left: 8%;

}

.captionslarger {
	display: block;
	width:500px;
    	height:10px;
    	padding-left: 8%;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #08199C;
}

#ma{
	height: 9200px;
}

.ma1 {
	width: 900px;
	padding-left: 8%;
	padding-top: 15px;
}

.ma2 {
	width: 900px;
	padding-left: 8%;
}

.ma3 {
	width: 900px;
	padding-left: 8%;
}

.chronicle1 {
	width: 400px;
	padding-left: 5%;
}

.chronicle2 {
	width: 700px;
	padding-left: 8%;
}


#chronicle{
	height: 800px;
}

.textile1{
	width: 900px;
	padding-left: 8%;
}

.chin1{
	width: 900px;
	padding-left: 8%;
}

#ramayana{
	height: 1700px;
}

.ram1{
	margin-top: -20px;
	width: 900px;
	padding-top: 50px;
	padding-left: 8%;  
}


.othertitle{
	width:450px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 30px;
	color: #08199C;
	display: block;
}


.miscpara{
	width:450px;
    padding-left: 600px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: #08199C;
}

.miscpara2{
	width:450px;
    padding-left: 620px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: #08199C;
	display: inline-block;
}

.misc1{
	float: left;
	padding-left: 100px;
}

.infoimage{
	width: 400px;
	padding-left: 20px;
	position: relative;
	z-index: -2;
}

.infobig{
	margin-top: -400px;
	padding-left: 675px;
	position: absolute;
	text-shadow: 2px 2px 3px #ABDB25;
	width:450px;
    	height:30px;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: #08199C;
	display: block;
}

.infosmall{
	display: block;
	position: absolute;
	margin-top: -325px;
	padding-left: 700px;
	text-shadow: 1px 1px 2px #ABDB25;
	width:450px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	font-size: 20px;
	color: #08199C;
	display: block;
}

.highlighter{
	background-color: #ABDB25;
}


.cuffhlink{
	width:400px;
    height:200px;
    font-weight: bold;
	font-family:'Ruda', sans-serif;
	font-size: 16px;
	color: #ABDB25;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: help;
}

.cuffh{
	width: 900px;
	padding-left: 8%;
	padding-top: 30px;
}

.cuffh1{
	width: 900px;
	padding-left: 8%;
	padding-top: 10px;
}

.cuffhbody {
	display: block;
	padding-left: 8%;
	width:550px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	color:  #ABDB25;
}

.cuffhbody1 {
	display: block;
	margin-top: -45px;
	width:800px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	color:  #ABDB25;
}

.cuffhbody2 {
	display: block;
	margin-top: -10px;
	text-transform: uppercase;
	width:600px;
    height:30px;
	font-family: 'Ruda', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #08199C;
}

.poster{
	height: 900px;
	padding-left: 8%;
}











